@page "/aboutpage"

<h3>About the Makers</h3>
<p>Sponsor: Dr. Ronald Finkbine</p>
<p>Project Lead: Xavier Beatrice</p>
<p>Software Developer: Dale Morris</p>
<p>Website Developer: Louis Wiley</p>
Created for our IUS Capstone Course
