@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to the Risk Bot Battle Site</h1>

<h2>What To Do:</h2>
<div>
    <h3>Don't have an account?</h3>
    <p>You can create your account by clicking on the "Register" button on the top right corner of the page.<br />
    Sign up with a Google Account or create your own account with an email and password.<br />
    You'll need to create an account to submit your own bot or try out other people's creations'</p>
</div>

<div>
    <h3>Want to submit your own bot?</h3>
    <p>If you have an account and want to submit your own bot to compete against others, click on "Submit My Own Bot" button in the sidebar.</p>
    <p>There you will find information about how to set your bot up and how to submit your bot.</p>
</div>

<div>
    <h3>Want to download a bot from someone else</h3>
    <p>Once you have created an account you can click on "Find a Bot" to browse bots that have been created by people</p>
</div>

<div>
    <h3>Want to learn more about who created this website?</h3>
    <p>Click on the "About the Developers" button in the sidebar to learn about who developed this website and why.</p>

</div>
